/* ==== ESTILOS BASE ==== */

/* Estiliza el cuerpo y HTML con un fondo suave y asegura que no haya scroll horizontal */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #f9f8f6;
}

/* Contenedor principal para efectos de scroll */
[data-scroll-container] {
    overflow: hidden;
    min-height: 100vh;
}

/* Secci칩n parallax */
.parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

i {
    display: block;
}

/* Capas para efectos parallax */
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center;
    overflow: visible;
}

.layer.leaves_one {
    background-image: url('leaves1.png');
    z-index: 2;
    transform-origin: center;
    background-position-x: -360px;
    pointer-events: none;
}

.layer.leaves_two {
    background-image: url('leaves2.png');
    z-index: 2;
    transform-origin: center;
    pointer-events: none;
}

/* ==== Reproductor de Audio Personalizado (con 칤conos de Play/Pause) ==== */
.layer.audio-player {
    z-index: 1;
    top: 10%;
    left: 10%;
    width: auto;
    height: auto;
}
.audio-player {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 0px 25px;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

/* Bot칩n redondo con 칤conos de Play y Pause */
.play-button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #b5ad9c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

/* 칈cono de Play (tri치ngulo) */
.play-button::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
}

/* Oculta el tri치ngulo cuando cambia a Pause */
.play-button.playing::before {
    display: none;
}

/* 칈cono de Pause (dos barras) */
.play-button.playing::after {
    content: '';
    width: 4px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    box-shadow: 8px 0 0 #fff;
    margin-left: -6px;
}
.song-title {
    margin-top: 20px;
    font-family: "Gowun Dodum", serif;
    font-size: 1.2rem;
}
.artist {
    color: #c5a880;
    font-family: "Gowun Dodum", serif;
    font-size: 1rem;
}
.audio-player {
    pointer-events: all;
    position: fixed;
    z-index: 999;
}


.layer.inicial_text {
    font-size: 54px;
    z-index: 1;
    top: 30%;
    left: 27%;
    width: auto;
    height: auto;
    color: #FFF;
}

.layer.inicial_text h1 {
    font-family: "Parisienne", serif;
    font-family: "Gowun Dodum", serif;
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.layer.background {
    background-image: url('couple.jpg');
    z-index: 1;
    transform-origin: center;
    overflow: visible;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center 50%;
}

/* ==== SECCI칍N DE INFORMACI칍N ==== */
.info-section {
    grid-column: span 2;
    font-size: 1.2rem;
    font-family: "Gowun Dodum", serif;          
    color: #6d5844;
    padding: 25px 0;
    text-align: center;
    line-height: 1.6;
}

.info-section h2 {
    font-family: "Parisienne", serif;
    font-size: 1.8rem;
    color: #4d3c2e;
}

.info-section p {
    font-size: 1rem;
    font-family: "Gowun Dodum", serif;
    color: #6d5844;
    line-height: 1.6;
}

.general-info {
    font-size: 1.1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f8f6;
    border-radius: 8px;
    padding: 25px;
}
.general-info i {
    font-size: 2rem;
    margin-bottom: 5px;
}

.dress-code {
    padding: 0 50px;
}

.confirmatio-date {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f8f6;
    border-radius: 8px;
    margin: 25px;
}
.confirmatio-date i {
    font-size: 2rem;
    margin-bottom: 5px;
}
.confirmatio-date h3 {
    font-weight: bold;
}

/* Slider superior e inferior */
.image-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 50px 0;
}

.slider-content {
    display: flex;
    gap: 8px;
    transform: translateX(0);
    will-change: transform;
}

.image-slider img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

/* Frase central con corazones */
.center-text {
    text-align: center;
    position: relative;
    margin: 100px 0;
    display: block;
}

.center-text h2, .center-text-two h2 {
    font-size: 2.4rem;
    color: #333;
    font-family: "Parisienne", serif;
}
.center-text-two {
    text-align: center;
    position: relative;
    margin: 100px 0;
    display: block;
    margin: 50px 0;
}

.heart {
    position: absolute;
    transform: translateX(-50%);
}

.heart i {
    text-align: center;
    color: #d0b396;
}

.extra-large-heart {
    position: absolute;
    right: 20%;
    font-size: 6rem;
    transform: translateX(-40%);
}
.large-heart {
    position: absolute;
    top: -50px;
    left: 14%;
    font-size: 5rem;
    transform: translateX(-50%);
}
.medium-heart {
    position: absolute;
    font-size: 4rem;
    transform: translateX(-60%);
}
.small-heart {
    position: absolute;
    top: -50px;
    left: 96;
    font-size: 3rem;
}
.extra-small-heart {
    position: absolute;
    right: 60%;
    font-size: 2rem;
    transform: translateX(-20%);
}

/* ==== Agenda del d칤a ==== */
.agenda-section {
    max-width: 800px;
    margin: 50px auto 0 auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.agenda-section h2 {
    font-family: "Parisienne", serif;
    font-size: 3rem;
    color: #b5a27f;
    margin-bottom: 30px;
}

/* Usamos Grid para centrar los elementos */
.agenda-item {
    font-family: "Gowun Dodum", serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.agenda-time {
    font-size: 1.8rem;
    font-weight: 400;
    color: #a49579;
    text-align: right;
    margin-bottom: 20px;
}

.agenda-details {
    text-align: left;
}

.agenda-details strong {
    font-size: 1.4rem;
    color: #4d3c2e;
    display: block;
}

.agenda-details p {
    font-size: 1rem;
    color: #7a6d5a;
    margin-top: 5px;
}



/* ==== CONTENIDO FIJO ==== */
.sticky-section {
    position: relative;
    height: 200vh;
}

.sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
}

/* ==== SECCI칍N DE CONTENIDO ==== */
.content {
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: white;
    font-size: 24px;
    color: #333;
    padding: 20px;
}

/* ==== INVITACI칍N ==== */
.wedding-invitation {
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto;
}
.wedding-invitation img {
    width: 100%;
}

/* ==== MENSAJE ==== */
.inicial_message {
    font-size: 1.5rem;
    font-family: "Gowun Dodum", serif;          
    color: #6d5844;
    text-align: center;
    line-height: 1.6;
}
/* ==== Contador ===== */
/* Contenedor principal */
.countdown-container {
    text-align: center;
    font-family: "Gowun Dodum", serif;  
    color: #6d5844;
}

.countdown-title {
    font-size: 4rem!important;
    font-family: "Parisienne", serif!important;
    color: #a0a0a0;
    margin-bottom: 20px;
}

/* Grid para los n칰meros */
.countdown-grid {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5px;
}

/* Estilos de cada n칰mero y etiqueta */
.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-number {
    font-size: 3rem;
    font-weight: bold;
    color: #4d3c2e;
    animation: fadeIn 1s ease-in-out;
}

.countdown-label {
    font-size: 0.6rem;
    letter-spacing: 2px;
    margin-top: 5px;
    color: #747373;
    font-weight: bold;
}

.countdown-separator {
    font-size: 3rem;
    color: #c5a880;
}

/* Animaci칩n para los n칰meros */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* ==== Secci칩n de Dress Code ==== */
.info-section h2 {
    font-family: "Gowun Dodum", serif;
    font-size: 2rem;
    color: #b5a27f;
    margin-bottom: 10px;
}

.suggestion {
    font-size: 1rem;
    color: #7a6d5a;
    margin-bottom: 20px;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ==== Bot칩n de Ubicaci칩n Profesional ==== */
.location-button {
    text-align: center;
    margin: 40px 0;
    
}

.location-button a {
    display: block;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: rgb(197, 168, 128, 0.15);
    color: #4d3c2e;
    padding: 12px 30px;
    border-radius: 8px;
    font-family: "Gowun Dodum", serif;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    margin: 15px 0;
    border-radius: 80px;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all 0.2s ease-in;
    cursor: pointer;
    font-weight: 600;
    
}

.location-button a:hover {
    background-color: #ccb091;
    transform: translateY(-2px);
}

.location-button .icon {
    font-size: 1.5rem;
    color: #6d5844;
}

/* Tabla de Informaci칩n del Hotel */
.hotel-info-table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto; /* Centramos la tabla */
    border-collapse: collapse;
    background-color: #f9f8f6;
    font-family: "Gowun Dodum", serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    font-size: 1.2rem;
}

.hotel-info-table th, .hotel-info-table td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    color: #4d3c2e;
}

.hotel-info-table th {
    background-color: #d2bea5;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.hotel-info-table td strong {
    color: #4d3c2e;
    font-weight: bold;
}

.hotel-info-table td em {
    font-style: italic;
    color: #6d5844;
}

.hotel-info-table ul {
    padding-left: 20px;
    margin: 0;
    list-style: disc;
}
p.label {
    font-size: 0.9rem;
    text-align: left;
    margin: 10px 0 0 10px;
}

/* ==== Estilos FAQ ==== */
.faq-container {
    max-width: 900px;
    margin: 20px auto;
}

.faq-item {
    background-color: #f9f8f6;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.faq-question {
    padding: 15px 20px;
    font-family: 'Gowun Dodum', serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #4d3c2e;
}

/* La altura y el padding solo se aplican cuando est치 activo */
.faq-answer {
    padding: 0 20px; /* Padding lateral */
    font-size: 1rem;
    color: #6d5844;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    cursor: default;
}

.faq-item.active .faq-answer {
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto!important;
    transition: height 0.4s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ==== MEDIA QUERIES ==== */

/* 游님 Tablets y pantallas medianas */
@media (min-width: 768px) {
    .layer.background {
        background-position: center 60%;
    }
    .wedding-invitation {
        grid-template-columns: 2fr 2fr;
        padding: 40px;
        max-width: 900px;
    }
    .message {
        font-size: 1.6rem;
        margin-top: 70px;
    }
    .info-section {
        padding: 40px;
        max-width: 900px;
    }
    .countdown-grid {
        gap: 15px;
    }
}

/* 游눹 Desktops y pantallas grandes */
@media (min-width: 1024px) {
    .layer.background {
        background-position: center 58%;
    }

    .wedding-invitation {
        padding: 60px;
        max-width: 1200px;
        grid-template-columns: 2fr 2fr;
    }
}
